n8n/unified_support_and_x_workflow.json
{
  "name": "Unified Support + X Publishing Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "customer-support",
        "responseMode": "responseNode",
        "options": {
          "responseContentType": "application/json"
        }
      },
      "id": "webhook-trigger-support",
      "name": "Webhook Trigger Support",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [180, 220]
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nconst msg = (body.message || '').toString().slice(0, 1200);\nif (!msg) throw new Error('Missing message');\nconst prompt = `You are an e-commerce support assistant. Return JSON only with keys category, priority, reply. Category values: Order Issue, Refund Request, Technical Support, Complaint, General Inquiry. Priority values: High, Medium, Low. Reply: professional, short, action-oriented, max 45 words. Customer message: \\\"${msg.replace(/\\\"/g, '\\\\\\\"')}\\\"`;\nreturn [{ json: { customer_id: body.customer_id || 'unknown', message: msg, gemini_api_key: body.gemini_api_key || '', prompt } }];"
      },
      "id": "prepare-prompt",
      "name": "Prepare Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 220]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.gemini_api_key}}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "if-key-missing",
      "name": "Gemini Key Missing?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [660, 220]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent?key={{$json.gemini_api_key}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [{\"parts\": [{\"text\": $json.prompt}]}],\n  \"generationConfig\": {\n    \"temperature\": 0.2,\n    \"topK\": 20,\n    \"maxOutputTokens\": 120,\n    \"responseMimeType\": \"application/json\"\n  }\n}",
        "options": {
          "timeout": 5000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "gemini-request",
      "name": "Gemini API Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 140],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const fallback = { category: 'General Inquiry', priority: 'Medium', reply: 'Thank you for contacting support. We are reviewing your request and will reply shortly.' };\nif ($json.error) return [{ json: { ...fallback, source: 'gemini_error' } }];\ntry {\n  const text = $json.candidates?.[0]?.content?.parts?.[0]?.text || '{}';\n  const parsed = JSON.parse(text);\n  const categoryList = ['Order Issue','Refund Request','Technical Support','Complaint','General Inquiry'];\n  const priorityList = ['High','Medium','Low'];\n  const category = categoryList.includes(parsed.category) ? parsed.category : 'General Inquiry';\n  const priority = priorityList.includes(parsed.priority) ? parsed.priority : 'Medium';\n  const reply = (parsed.reply || fallback.reply).toString().slice(0, 400);\n  return [{ json: { category, priority, reply, source: 'gemini' } }];\n} catch (e) {\n  return [{ json: { ...fallback, source: 'parse_error' } }];\n}"
      },
      "id": "parse-response",
      "name": "Parse Gemini JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1140, 140]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-support",
      "name": "Respond Support",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [1360, 140]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { category: 'General Inquiry', priority: 'Medium', reply: 'Thank you for contacting support. We are reviewing your request and will reply shortly.', source: 'missing_api_key' } }];"
      },
      "id": "missing-key-fallback",
      "name": "Missing Key Fallback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-support-missing",
      "name": "Respond Support Missing Key",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [1140, 300]
    },

    {
      "parameters": {
        "httpMethod": "POST",
        "path": "x-publish",
        "responseMode": "responseNode",
        "options": {
          "responseContentType": "application/json"
        }
      },
      "id": "x-webhook",
      "name": "X Publish Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [180, 560]
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nconst text = (body.text || '').toString().slice(0, 280);\nif (!text) throw new Error('Missing text');\nif (!(body.x_bearer_token || '').toString().trim()) throw new Error('Missing X token');\nreturn [{ json: { text, x_bearer_token: body.x_bearer_token, company_id: body.company_id, scheduled_post_id: body.scheduled_post_id } }];"
      },
      "id": "prepare-x",
      "name": "Prepare X Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 560]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.x.com/2/tweets",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{$json.x_bearer_token}}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"text\": $json.text }",
        "options": {
          "timeout": 5000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "x-api-request",
      "name": "Publish to X API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 560],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "if ($json.error) return [{ json: { status: 'failed', tweet_id: '', error: $json.error.message || 'x_api_error' } }];\nconst tweetId = $json.data?.id || '';\nreturn [{ json: { status: tweetId ? 'posted' : 'failed', tweet_id: tweetId } }];"
      },
      "id": "normalize-x",
      "name": "Normalize X Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [920, 560]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-x",
      "name": "Respond X",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [1140, 560]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger Support": { "main": [[{ "node": "Prepare Prompt", "type": "main", "index": 0 }]] },
    "Prepare Prompt": { "main": [[{ "node": "Gemini Key Missing?", "type": "main", "index": 0 }]] },
    "Gemini Key Missing?": {
      "main": [
        [{ "node": "Missing Key Fallback", "type": "main", "index": 0 }],
        [{ "node": "Gemini API Request", "type": "main", "index": 0 }]
      ]
    },
    "Gemini API Request": { "main": [[{ "node": "Parse Gemini JSON", "type": "main", "index": 0 }]] },
    "Parse Gemini JSON": { "main": [[{ "node": "Respond Support", "type": "main", "index": 0 }]] },
    "Missing Key Fallback": { "main": [[{ "node": "Respond Support Missing Key", "type": "main", "index": 0 }]] },

    "X Publish Webhook": { "main": [[{ "node": "Prepare X Payload", "type": "main", "index": 0 }]] },
    "Prepare X Payload": { "main": [[{ "node": "Publish to X API", "type": "main", "index": 0 }]] },
    "Publish to X API": { "main": [[{ "node": "Normalize X Response", "type": "main", "index": 0 }]] },
    "Normalize X Response": { "main": [[{ "node": "Respond X", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1"
}
